@use "./utils/variables.scss";

*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    outline:none;
    }
    body{
        font-family:$fontFamily;
        color: $prymaryColor;
        }   
    .container{
    width: 1200px;
    margin:0 auto;
    }
@import 'components/page-header';
@import 'components/logo';
@import 'components/navigation';
@import 'components/contact';
@import 'components/section-one';
@import 'components/button';
@import 'components/list-lorem';
@import 'components/section';
.workplace{
    background-color: $backgroundColor;
    }
@import 'components/team-list';
@import 'components/footer-contact';
@import 'components/footer-list';
.footer-background{
    background: $colorFooter;
    }
@import 'components/page-footer';
@import 'components/menu';
@import 'components/products';
@import 'components/services';
@import 'components/social-media';
@import 'components/portfolio';
@import 'components/customers';
@import 'components/footer-social-media';
@import 'components/backdrop';
@import 'components/modal';
@import 'components/close-button';
@import 'components/is-hidden';
@import 'components/btn';
@import 'components/email-newsletter';
@import 'components/footer-newsletter';        


