.button {
    display: flex;
    background-color:#2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color:#FFFFFF;
    cursor: pointer;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-style:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}