@import '../utils/variables.scss';
.contact{
    display: flex;
    list-style: none;

.contact__item:not(:last-child){
    margin-right: 50px;
}
.contact__link{
    color: $colorAccent;
    text-decoration: none;
 transition-property:color,fill;
transition: $transitionFunction;

&:hover{
color:$secondaryColor;
fill: $secondaryColor;
}
&:focus {
color:$secondaryColor;
fill: $secondaryColor;
} }
.contact__icons{
    fill: $colorAccent;
    padding-top: 0 auto;
    padding-bottom: 0 auto;
    margin-right: 10px;
}}