.customers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}  
.customers__icons{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property:border-color,fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icons:hover{
    border-color: #2196F3;
    fill: #2196F3;   
}
.customers__icons:focus{
    border-color: #2196F3;
    fill: #2196F3;
}