@import '../utils/variables.scss';
.customers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}  
.customers__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    
    transition-property:border-color,fill;
transition-duration: 250ms;
transition-timing-function: $transitionFunction;
}
.customers__icons:hover{
    border-color: $secondaryColor;
    fill: $secondaryColor;   
}
.customers__icons:focus{
    border-color: $secondaryColor;
    fill: $secondaryColor;
}