.list-lorem{
    display: flex;
    align-items: center;
    list-style: none;
}
.list-lorem__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
}
.list-lorem__text{
font-size: 14px;
line-height: 1.71;
color: #757575;
}
.list-lorem__item:not(:last-child){
    margin-right: 30px;
}
.list-lorem__icons{
    width: 270px;
    height: 120px;
    border: 4px solid #F5F4FA;
    background-color: #F5F4FA;
    border-radius: 4px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
