@import '../utils/variables.scss';
.list-lorem{
    display: flex;}
  .list-lorem__item{
    flex-wrap: wrap;
   list-style: none;
    }

.list-lorem__title{
    font-weight: $fontThree;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
}
.list-lorem__text{
font-size: 14px;
line-height: 1.71;
color: $colorAccent;
}
.list-lorem__item:not(:last-child){
    margin-right: 30px;
}
.list-lorem__icons{
    width: 270px;
    height: 120px;
    border: $borderLorem;
    background-color: $backgroundColor;
    border-radius: 4px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
