@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$prymaryColor:#212121;
$secondaryColor:#2196f3;
$colorAccent:#757575;
$colorBtn: #FFFFFF;
$colorFooter:#2F303A;

$borderHeader:#ECECEC;
$borderEmail:1px solid rgba(255, 255, 255, 0.3);
$borderLorem: 4px solid #F5F4FA;

$backgroundColor:#F5F4FA;
$backdropColor: rgba(0, 0, 0, 0.2);
$boxShadowBtn:0px 4px 4px rgba(0, 0, 0, 0.15);
$backgroundSocial:rgba(255, 255, 255, 0.1);

$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);

$boxShadowMenu: 0px 2px 2px 0px rgba(0, 0, 0, 0.12)
 0px 1px 2px 0px rgba(0, 0, 0, 0.08)
 0px 3px 1px 0px rgba(0, 0, 0, 0.1);